<%- include("template/cabecera.ejs", {tituloWeb: "Lista de entrenadores" })%>

    <div class="container">
        <!-- Será el listado de pokemon -->
        <div class="container">
            <h1>CRUD Mongo</h1>
            <a class="btn btn-success my-4" href="/entrenador/crear-entrenador">Crear nuevo entrenador</a>
            <a class="btn btn-primary my-4" href="/">Inicio</a>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Biografia</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Lista de Pokémon</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (arrayEntrenador.length> 0) { %>
                        <!--Haremos el foreach para recorrer el array-->
                        <% arrayEntrenador.forEach(entrenador=> { %>
                            <tr>
                                <td>
                                    <%= entrenador.nombre %>
                                </td>
                                <td>
                                    <%= entrenador.edad %>
                                </td>
                                <td>
                                    <%= entrenador.biografia %>
                                </td>                                
                                <td>
                                    <%= entrenador.ciudad%>
                                </td>
                                <td>
                                    <%= entrenador.listaPokemon%>
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm"
                                        href="entrenador/<%= entrenador.id %>">Editar/Eliminar</a>
                                </td>
                            </tr>
                            <% }) %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include("template/footer.ejs")%>